{% extends 'FrontBundle::layout.html.twig' %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>A propos</h1>
			<p>Sed ac eleifend ante. Donec porttitor cursus velit, vel sodales lorem maximus eu. Fusce at massa a arcu sagittis venenatis. Nam ultricies at elit maximus accumsan. Phasellus viverra viverra velit, quis pulvinar diam dignissim sed. Sed molestie, quam non ullamcorper pellentesque, orci nunc placerat arcu, sed ullamcorper nunc nibh a ante. Cras at massa quam. Pellentesque condimentum faucibus nisl. Proin luctus massa vel tortor fermentum fermentum. Quisque nisi tortor, commodo maximus dolor nec, pellentesque interdum diam. Nullam est urna, consequat condimentum rutrum quis, egestas aliquet nisi. Fusce non nulla laoreet, tristique enim vitae, egestas eros.</p>
		</div>
	</div>
{% endblock content %}